@charset "utf-8";

/*-Fond de la barre de navigation-*/
nav {
	background: rgb(11,74,149);
	background: linear-gradient(121deg, rgba(11,74,149,0.8323704481792717) 16%, rgba(10,112,34,0.76234243697479) 41%, rgba(32,60,149,0.8575805322128851) 70%, rgba(6,106,39,0.835171568627451) 90%);
}

/*-Menu de navigation-*/
.menu_flex {
	text-decoration : none;
	min-width : 30%;
	width : 100%;
	height : 100%;
	margin-top: 10px;
	margin-bottom : 10px;
	text-align : center;
	border-radius: 261px 261px 50px 50px / 149px 150px 25px 25px;
	color : white;
	font-weight : bold;
	font-size : 2.5rem;
	font-family : campus;
}

.menu_flex:hover{
	background: rgb(69,60,214);
	background: linear-gradient(163deg, rgba(69,60,214,1) 0%, rgba(31,148,73,1) 28%, rgba(69,60,214,1) 56%, rgba(31,148,73,1) 80%, rgba(69,60,214,1) 100%);
}

nav ul li ul li a:hover{
	background: rgb(69,60,214);
	background: linear-gradient(163deg, rgba(69,60,214,1) 0%, rgba(31,148,73,1) 28%, rgba(69,60,214,1) 56%, rgba(31,148,73,1) 80%, rgba(69,60,214,1) 100%);
	border-radius : 80% 20% 80% 20% / 20% 80% 20% 80%;
}


#menu-accordeon {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 100%;
  height : 100%;
}
#menu-accordeon ul {
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
   border-radius: 6px;
   margin-bottom:2px;
   min-width : 25rem;
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all 1.5s;
   border-radius:0;
   box-shadow: none;
   border:none;
   margin:0;
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: campus;
  font-size:2.5rem;
}

#menu-accordeon a.ici {
	color : black;
}

#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size: 1.8rem;
  color : #c1c0c0;
}

#menu-accordeon li:hover li {
  max-height: 15em;
}
/*----------------------*/